
.list-group-item{
    text-align-last: justify;
}
#formDiv{
    padding-left: 40%;
    padding-top: 85px;
}
#deleteButton{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
span {
    margin: 0 50px;
}